/* You can add global styles to this file, and also import other style files */

html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
}

h1 {
  margin-top: 0;
}

.highlight {
  color: crimson;
  font-style: normal;
}
